#sketchBg {
  background: "#00FFFF";
  background: linear-gradient(
    45deg,
    rgba(255, 0, 255, 1) 0%,
    rgba(0, 255, 255, 1) 100%
  );
}

#sketchBg canvas {
  opacity: 0.7;
}

#sketchLogo {
  position: absolute;
  left: 0px;
  top: calc(50% - 70px);
}

#toggleMode {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #000;
  border-radius: 20px;
  width: 100px;
  height: 34px;
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

#toggleMode svg {
  background: #fff;
  border-radius: 20px;
  position: absolute;
  left: 2px;
  top: 2px;
  vertical-align: middle;
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

#toggleMode span {
  font-size: 13px;
  position: absolute;
  left: 37px;
  top: 9px;
  color: #fff;
  user-select: none;
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

#toggleMode.webcam {
  background-color: #080;
}

#toggleMode.webcam svg {
  left: 68px;
}

#toggleMode.webcam span {
  left: 9px;
}
